#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

textSize-2rem {
  font-size: 2rem;
}

#iphoneIMG {
   transform: rotate(25deg);
   width: 60%;
   position:absolute;
   right: 30%;
}

body {
  font-family: "Montserrat",sans-serif;
}

#firstRow {
  margin-top: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar {
  padding: 0 0 1rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.features-text {
  color: #8f8f8f;
}

.orange {
  color: #ef8172;
  padding-bottom: 1rem;

}

i:hover {
  color: #ff4c68;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.allign{
  text-align: center;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:1024px){
  #iphoneIMG{
    position: static;
    rotate(0);
  }
  #firstRow {
    text-align: center;
  }
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 12% 15%;
}

.h3Yeni {
  color:#fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 4%;
}

.indirmeBtn {
  margin-right: 3%;
}

#footer {
  background-color: #fff;
  padding: 9% 15%;
  text-align: center;
}

.footerLogolar {
  margin-right: 2%;
}
